button#search-button {
  color: olivedrab;
  border-color: olivedrab;
}

button#search-button:hover {
  color: white;
  background-color: olivedrab;
}

div.card img{
  width: 100%;
}

h5 {
  color: olivedrab;
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}

div.card-footer a.btn{
  background-color: olivedrab;
  border-color: white;
}