div.card{
  max-width: calc((100% / 4) - (2rem));
  /* min-width: calc(100% - 3rem);  */
}

div.card img{
  width: 100%;
}

h5 {
  color: olivedrab;
  padding-top: 2.5%;
  padding-bottom: 1.5%;
}

div.card-body a.btn{
  background-color: olivedrab;
  border-color: white;
}