{% extends "base.html" %}

{% block content %}
  <br>
  <h3>Recipe List</h3>
  {% if recipe_list %}
  <ul>
    {% for recipe in recipe_list %}
      <li>
        <a title="Click to see details" href="{{recipe.get_absolute_url}}"><strong>{{ recipe.name }}</strong></a> 
        ({{recipe.author}})
        <ul>
          <li><mark><em>Rating: {{recipe.rating}}</em></mark></li>
          <li><mark><em>Difficulty: {{ recipe.cooking.difficulty }}</em></mark></li>
        </ul>
        <p>Description: {{ recipe.short_description }}</p> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no recipes in the database.</p>
  {% endif %}
{% endblock %}