{% extends "base.html" %}

{% block content %}
  <h1>Recipe List</h1>
  {% if recipe_list %}
  <ul>
    {% for recipe in recipe_list %}
      <li>
        <a href="{{recipe.get_absolute_url}}">{{ recipe.name }}</a> 
        (<strong>Author:</strong> {{recipe.author}})
        (<strong>Rating:</strong> {{recipe.rating}})
        (<strong>Difficulty:</strong> {{ recipe.cooking.difficulty }})
        <p><strong>Description:</strong> {{ recipe.short_description }}</p> 
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no recipes in the database.</p>
  {% endif %}
{% endblock %}