body {
  background-color: white;
}

h1 {
  font-family: system-ui;
  color: olivedrab;
  font-size: 300%;
  text-align: center;
}

nav.navbar {
  background-color: olivedrab
}

ul.navbar-nav li {
  display: inline;
}

a.nav-link {
  color: white;
  font-size: 20px;

}

button#search-bar-btn {
  color: white;
  border-color: white;
}

button#search-bar-btn:hover {
  background-color: olive;
}