<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Wasabi is a recipe search and recommendation engine where you can find your favorite recipes and best suitable recipes matched with your life style.">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}"/>
  </head>
  <title> Wasabi | Recipe Search Engine </title>
  <body>
    <br>
    <header>
      <h1>&nbsp;WASABI</h1>
    </header>
    {% block topnav %}
    <nav class="topnav" style="background-color: #5d8303;">
      <div class="container-fluid">
        <div class="navbar">
          &nbsp;&nbsp;<a class="nav-link" href="{% url 'index' %}">Home</a>
          &nbsp;&nbsp;<a class="nav-link" href="{% url 'recipes' %}">Recipes</a>
          &nbsp;&nbsp;<a class="nav-link" href="{% url 'scraping' %}">Scraping</a>
          &nbsp;&nbsp;<a class="nav-link" href="">Recommendation</a>
          {% if user.is_authenticated %}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User: {{ user.get_username }}
          &nbsp;&nbsp;<a class="user-authentication" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
          {% else %}
          &nbsp;&nbsp;<a class="user-authentication" href="{% url 'login' %}?next={{ request.path }}">Login</a>
          {% endif %}
          &nbsp;&nbsp;<input type="text" placeholder="Search..">
        </div>
      </div>
    </nav>
    {% endblock %}
    <hr>
    <div class="container-fluid">
      <div class="col-sm-10 ">
        {% block content %}{% endblock %}
      </div>
    </div>
    <br>
  </body>
  <footer>
    <p>©Copyright 2022 by Zhicheng Wang.</p>
  </footer>
</html>