{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/home/css/styles.css' %}"/>

<div class="d-flex flex-column justify-content-center align-items-center">
  <h3>Recipe Collections</h3>
  <img class="img-fluid" src="{% static '/home/images/air_fryer_salmon.png' %}" alt="Air fried salmon" >
  <br>
  <img class="img-fluid" src="{% static '/home/images/beef_guinness_stew.png' %}" alt="Beef guinness stew" >
  <h3>Statistics</h3>
  <ul>
    <li><strong>Recipes:</strong> {{ num_recipes }}</li>
    <li><strong>Cuisines:</strong> {{ num_cuisines }}</li>
    <li><strong>Dietary Choices:</strong> {{ num_dietary_restrictions }}</li>
  </ul>
</div>
{% endblock %}
