{% extends "base.html" %}

<!-- For the model Recipe in application recipes -->
{% block content %}
    <br>
    <h3>{{ recipe.name }}</h3>

    <p><strong>Author:</strong> {{ recipe.author }}</p>
    <p><strong>Description:</strong> {{ recipe.short_description }}</p>
    <p><strong>Rating:</strong> {{ recipe.rating }}</p>
    <p><strong>Difficulty:</strong> {{ recipe.cooking.difficulty }}</p>
    <p><strong>Cuisine:</strong></p>
    <ul>
    {% for t in recipe.cuisine_tags.cuisine.names.all  %}
        <li>{{ t }}</li>
    {% endfor %}
    </ul>
    <p><strong>Dietary:</strong></p>
    <ul>
    {% for t in recipe.dietary_tags.dietary.names.all %}
        <li>{{ t }}</li>
    {% endfor %}
    </ul>
    <p><strong>Preparation-Time:</strong> {{ recipe.time.preparation }}</p>
    <p><strong>Cooking-Time:</strong> {{ recipe.time.cooking }}</p>
    <p><strong>Nutritions:</strong></p>
    <ul>
        <li>kcal: {{ recipe.nutrition.kcal }}</li>
        <li>fat: {{ recipe.nutrition.fat }}</li>
        <li>saturates: {{ recipe.nutrition.saturates }}</li>
        <li>carbs: {{ recipe.nutrition.carbohydrates }}</li>
        <li>sugars: {{ recipe.nutrition.sugars }}</li>
        <li>fibre: {{ recipe.nutrition.fibre }}</li>
        <li>protein: {{ recipe.nutrition.protein }}</li>
        <li>salt: {{ recipe.nutrition.salt }}</li>
    </ul>
    <p><strong>Ingredients:</strong> {{ recipe.cooking.ingredients }}</p>
    <p><strong>Instructions:</strong> {{ recipe.cooking.instructions }}</p>

{% endblock %}
        