{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/recipes/css/styles.css' %}"/>
<div class="container-fluid">
  <div class="input-group mb-4 mt-3">
    <input type="text" class="form-control" placeholder="Query..." aria-label="Recipe search bar" aria-describedby="search-button">
    <button class="btn btn-outline-secondary" type="button" id="search-button">Search</button>
  </div>
  <div class="row">
    {% for recipe in recipe_list %}
      <div class="card mb-4 ms-4">
        <img src="{{ recipe.photo.url }}" class="card-img-top" alt="recipe image"/>
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <p class="card-text">Description: {{ recipe.short_description }}</p>
          <a href="{{recipe.get_absolute_url}}" class="btn btn-primary">Recipe Details</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}