{% extends "base.html" %}

<!-- Add additional CSS in static file -->
{% load static %}

{% block content %}
  <h1>Wasabi</h1>
  <p>Welcome to <strong>Wasabi</strong>, a recipe search engine developed by <strong><em>Zhicheng Wang</em></strong>!</p>
  <br><br>
  <img src="{% static 'images/air_fryer_salmon.png' %}" style="width:360px;height:320px;" >
  <img src="{% static 'images/beef_guinness_stew.png' %}" style="width:360px;height:320px;" >
  <h2>Dynamic content</h2>
  <p>Wasabi has so far the following record counts:</p>
  <ul>
    <li><strong>Recipes:</strong> {{ num_recipes }}</li>
    <li><strong>Cuisines:</strong> {{ num_cuisines }}</li>
    <li><strong>Dietary Choices:</strong> {{ num_dietary_restrictions }}</li>
  </ul>
{% endblock %}
